@import '~antd/es/style/themes/default.less';
.countTimeWrapper {
  font-size: 15px;
  line-height: 21px;
}

.pinlv {
  display: inline-block;
  margin-right: 12px;
  font-weight: bold;
}
.list {
  max-height: 500px;
  overflow: auto;
  background: #d4d3d3;
  padding: 8px 12px;
  margin-bottom: 8px;
  h2 {
    text-align: center;
  }
}

.listItem {
  display: flex;
  margin-bottom: 12px;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: fill;
    min-width: 50px;
    min-height: 50px;
  }
  .content {
    border-radius: 10px;
    background: #fff;
    display: inline-block;
    padding: 6px;
    margin-left: 12px;
    p {
      font-size: 12px;
      opacity: 0.8;
    }
  }
}

.specialClass {
  justify-content: flex-end;
  .content {
    margin-right: 12px;
  }
}
